@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background: url("./images/background.png");
    background-size: cover;
    backdrop-filter: blur(10px);
    font-family: "Nunito", monospace;
}

a {
 text-decoration: none;
}

.hat {
    display: table;
    background: transparent;
    height: 440px;
    width: 100%;
}

.hat div{
    display: table-cell;
    vertical-align: bottom;
}


.hat-title{
    color: #FFFFFF;
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
}
.hat-title h3{
    padding-left: 20px;
}

.hat-list{
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.button {
  width: 200px;
  background-color: #9E0305;
  color: white;
  border: 2px solid #9E0305;
  border-radius: 40px;
  padding: 12px 32px;
  margin: 20px;
  margin-top: -15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button ul{
  display: table-cell;
  vertical-align: bottom;
}

.button:hover {
  z-index: 1;
  color: #D9D9D9;
  background-color: rgba(255, 0, 0, 0.0);
  cursor: pointer;
}

.button2 {
  width: 200px;
  background-color: rgba(255, 0, 0, 0.0);
  color: white;
  border: 2px solid #9E0305;
  border-radius: 40px;
  padding: 12px 32px;
  margin: 20px;
  margin-top: -15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2 ul{
  display: table-cell;
  vertical-align: bottom;
}

.button2:hover {
  z-index: 1;
  color: #D9D9D9;
  background-color: #9E0305;
  cursor: pointer;
}
